@media screen and (max-width:576px) {

      .banner-container {
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: left;
            align-items: left;
            flex-wrap: wrap;
            border: 1px solid red;
      }

      .left-banner {
            width: 140px;
            height: 300px;
            border: 1px solid blue;
            justify-content: left;
            align-items: left;
            margin: 0px 0px 0px 0px;
            margin-top: 20px;
            /* display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left; */
            margin-left: 0px;
            margin-right: 0px;
            border-style: none;
      }

      .left-banner h3 {

            align-items:left;

            margin-bottom: 3px;
            color: rgb(39, 39, 39);
            font-family: Lato;
            font-size: 20px;
            font-weight: 800;
            line-height: 20px;
            letter-spacing: 0%;
            border-style: none;
      }
      .left-banner p {
            color: rgba(39, 39, 39, 0.6);
            margin-top: 2px;
            font-family: Lato;
            font-size: 15px;
            justify-content: left;
            text-align: left;
            border-style: none;
            margin-bottom: 0px;
      }
      .right-banner img {
            margin : 0px 100px 0px 100px;
            margin-top: 90px;
            width: 170px;
            height: 170px;
            border: 1px solid green;
            border-style: none;
      
      }
      .flower-img {
            width: 80%;
            /* margin: auto auto; */
            margin-left: 20px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
      }
      .img-2 img{
            /* border: 1px solid red; */
            width: 95%;
            border-radius: 300px 300px 0px 0px;
            background: rgba(5, 151, 160, 0.15);
            height: 80%;
      }
      .icon-containar {
            width: 80%;
            height: 400px;
            margin: 20px auto;
            border-radius: 8px;
            background: rgba(39, 39, 39, 0.05);
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: space-evenly;
            align-items: center;
            justify-content: center;
            text-align: center;
      }
      .insta-description {
            color: rgba(39, 39, 39, 0.6);
            font-family: Lato;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
      }

      .img-containar img{
            margin-right: 0px;
            margin-bottom: 30px;
      }
}